// BOOTSTRAP COMPONENTS

@import "../node_modules/bootstrap-sass/assets/stylesheets/_bootstrap";

//-------------------------------------------

// TEMPLATE COMPONENTS

// Global helper classes
@import "template/_global";

// Header
@import "template/_header";

// Footer
@import "template/_footer";

// Custom style
@import "template/_custom";