{% set theme_config = attribute(config.themes, config.system.pages.theme) %}
<!DOCTYPE html>
<html lang="{{ grav.language.getLanguage ?: 'en' }}">
<head>
    {% block head %}
        {% include 'partials/head.html.twig' %}
    {% endblock %}
</head>
<body class="{{ page.header.body_classes }}">

{# Wrapping our content in #app to allow vue components #}
<div id="app">

    {% include 'partials/navbar.html.twig' %}
    
    <section class="section">
        {% block content %}{% endblock %}
    </section>

    {% include 'partials/footer.html.twig' %}

</div>

{% block bottom %}
    {{ assets.js('bottom') }}
{% endblock %}

</body>
</html>
