{% set theme_config = attribute(config.themes, config.system.pages.theme) %}
<!DOCTYPE html>
<html lang="{{ grav.language.getLanguage ?: 'en' }}">
<head>
    {% block head %}
        {% include 'partials/head.html.twig' %}
    {% endblock %}
</head>
<body class="{{ page.header.body_classes }}">

{# Wrapping our content in #app to allow vue components #}
<div id="app">

    {% block header %}
        {% include 'partials/header.html.twig' %}
    {% endblock %}

    <div class="container">

        <div class="col-sm-8 col-sm-offset-2">

            {% block content %}{% endblock %}

        </div>

    </div>

    {% if page.template != 'item' %}

        {% block footer %}
            {% include 'partials/footer.html.twig' %}
        {% endblock %}

    {% endif %}

</div>

{% block bottom %}
    {{ assets.js('bottom') }}
{% endblock %}

</body>
</html>
