<footer class="footer">
    <div class="container">
        <div class="content has-text-centered">
            <p>
                <strong>Haywire</strong> by <a href="https://github.com/robbinfellow">Robbin Johansson</a>.
            </p>
            <p class="is-size-7">
                Grav theme made for developers.
            </p>
        </div>
    </div>
</footer>
