<header id="header">
    <div id="logo">
        <h3><a href="{{ base_url == '' ? '/' : base_url }}">{{ config.site.title }}</a></h3>
    </div>
    <div id="navbar">
        {% block header_navigation %}
        {% include 'partials/navigation.html.twig' %}
        {% endblock %}
    </div>
</header>