{% extends 'partials/base.html.twig' %}

{% block content %}

<div class="container">
    <div class="columns">
        <div class="column is-8 is-offset-2">
            
            <div class="columns">
                <div class="column content">
                    {{ page.content }}
                </div>
            </div>

        </div>
    </div>
</div>

{% endblock %}
