{% extends 'partials/base.html.twig' %}

{% block content %}
    <div class="container">
        <article class="message is-danger">
            <div class="message-body">
                <strong>{{ 'ERROR'|t }} {{ page.header.http_response_code }}</strong>
                {{ page.content }}
            </div>
        </article>
    </div>
{% endblock %}
