{#
# (RuntimeException (400) Template "external.html.twig" is not defined.)
# https://github.com/robbinworks/haywire-grav/issues/12
# Prevent grav from throwing RuntimeException when trying to visit a page using the external template.
#}

{% extends 'partials/base.html.twig' %}

{% block content %}
<div class="container">
    <div class="columns is-centered">
        <div class="column is-7">

            <div class="notification is-danger">
                <strong>
                    {{ 'ERROR'|t }}
                </strong>
                <p>
                    This page is not available.
                </p>
            </div>

        </div>
    </div>
</div>
{% endblock %}
