{% extends 'partials/base.html.twig' %}

{% block content %}
	<div class="row mtxl">
		<div class="col-xs-12">

			<div class="col-sm-9">
				<h1 class="nmt">{{ page.title }}</h1>
				{{ page.content }}
			</div>

			<div class="col-sm-3 mtxl">
				<img width="100%" src="{{ page.url }}/{{ page.header.featured_image }}">
			</div>

		</div>
	</div>
{% endblock %}