// Custom scss
body {
	line-height: 1.65;
	font-size: 16px;
}

.posts {
	margin-top: 20px;
    .post {
    	margin-bottom: 40px;
    	padding-bottom: 40px;
    	border-bottom: solid 1px #eeeeee;
    	h3 {
    		a {
    			color: #000;
    			&:hover {
    				color: #23527c;
    			}
    		}
    	}
    	.summary {
    		color: #76787d;
    	}
	    .post-content {
	 		padding-right: 40px;
	 	}
    }
}